@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #152937;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html {
  font-size: 20px;
  color: white;
}

h1,
h2,
h3,
h4,
p,
a,
span,
div,
input,
button {
  font-weight: 400;
  font-size: 1rem;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(102, 102, 102, 0.453);
}

.loader__element {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 15px solid rgba(128, 128, 128, 0.618);
  border-top: 15px solid #8b8bdd;
  border-bottom: 15px solid #8b8bdd;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -webkit-animation: loader 2s linear infinite;
          animation: loader 2s linear infinite;
}

.loader__text {
  position: absolute;
  width: 100%;
  text-align: center;
  top: calc(50% + 70px);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  font-size: 0.9rem;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

.forecast {
  width: 90vw;
  max-width: 800px;
  margin: 20px auto;
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.forecast__header-txt {
  font-size: 1.5rem;
  text-align: center;
  padding: 10px 0;
}

@media (min-width: 600px) {
  .forecast__header-txt {
    font-size: 2rem;
  }
}

.forecast__search-area {
  position: relative;
  width: 100%;
  height: 40px;
  margin: 0 0 auto auto;
}

.forecast__search-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid black;
  font-family: 'Roboto', sans-serif;
}

.forecast__search-input:focus {
  outline: none;
}

.forecast-header-source {
  font-weight: 300;
  font-size: 0.5rem;
  text-align: right;
  margin: 3px auto;
  opacity: 0.7;
}

@media (min-width: 600px) {
  .forecast-header-source {
    font-size: 0.6rem;
  }
}

.forecast__search-propositions {
  padding: 10px 0 10px 0;
  position: absolute;
  top: 35px;
  width: 100%;
  line-height: 1.6;
  background-color: white;
  border: 1px solid transparent;
  border-color: transparent black black black;
  z-index: 1;
  display: none;
}

.forecast__search-propositions-item {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  cursor: pointer;
  line-height: 1.8;
  margin: auto 10px;
  color: rgba(0, 0, 0, 0.583);
}

.forecast__search-propositions-item::before {
  content: '';
  width: 100%;
  display: block;
  border-bottom: 1px solid #aaa;
}

.forecast__search-propositions-item:hover {
  background-color: #faf5ad;
}

.forecast__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.forecast__city-name {
  font-size: 2rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 5px 0;
  color: #f2ef50;
}

.forecast__main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #255D85;
}

.forecast__main-section-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  height: 100%;
  margin-right: 10px;
}

.forecast__main-section-icon {
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center;
  overflow: hidden;
}

.forecast__main-section-description {
  text-align: center;
  font-size: 0.9rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.forecast__main-section-temp {
  font-size: 2.5rem;
  text-align: center;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  margin-left: 10px;
}

.forecast__main-section-temp-span {
  font-size: 2.5rem;
}

.forecast__temp-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 10px;
  background-color: #5A7385;
}

@media (min-width: 600px) {
  .forecast__temp-section {
    width: calc(50% - 5px);
  }
}

.forecast__temp-section-icon {
  width: 80px;
  height: 80px;
  background-image: url("../assets/temp.png");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  margin-right: 10px;
}

.forecast__temp-section-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 0.8rem;
  line-height: 1.3;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.forecast__temp-section-span {
  font-size: 0.9rem;
  margin-left: 15px;
}

.forecast__temp-section-span--deg {
  font-size: 0.9rem;
}

.forecast__params-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  margin-bottom: 10px;
  background-color: #6d4d3f;
}

@media (min-width: 600px) {
  .forecast__params-section {
    width: calc(50% - 5px);
  }
}

.forecast__params-section-left {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.forecast__params-section-left-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.forecast__params-section-left-p {
  font-size: 0.8rem;
  width: 100%;
  text-align: right;
}

.forecast__params-section-right {
  line-height: 1.3;
}

.forecast__params-section-right-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9rem;
  height: 26.66667px;
  margin-left: 15px;
}

.forecast__params-section-left-icon {
  height: 26.66667px;
  width: 26.66667px;
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
}

.forecast__params-section-left-pressure-icon {
  background-image: url("../assets/barometer.png");
}

.forecast__params-section-left-wind-icon {
  background-image: url("../assets/wind.png");
}

.forecast__params-section-left-humidity-icon {
  background-image: url("../assets/humidity.png");
}

.forecast__map {
  position: relative;
  width: 100%;
  background-color: #767bb1;
}

.forecast__map-img {
  width: 100%;
}

.forecast__map-copyright {
  position: absolute;
  bottom: -16px;
  right: 0px;
  font-weight: 300;
  font-size: 0.5rem;
  opacity: 0.7;
}

@media (min-width: 600px) {
  .forecast__map-copyright {
    font-size: 0.6rem;
  }
}

.forecast__map-element {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (min-width: 600px) {
  .forecast__map-element {
    width: 100px;
  }
}

.forecast__map-temp,
.forecast__map-temp-span,
.forecast__map-city {
  font-size: 0.5rem;
}

@media (min-width: 500px) {
  .forecast__map-temp,
  .forecast__map-temp-span,
  .forecast__map-city {
    font-size: 0.7rem;
  }
}

@media (min-width: 600px) {
  .forecast__map-temp,
  .forecast__map-temp-span,
  .forecast__map-city {
    font-size: 0.8rem;
  }
}

.forecast__map-city {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
}

.forecast__map-icon {
  width: 18px;
  height: 18px;
  background-image: url("https://openweathermap.org/img/wn/10d@2x.png");
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center;
  overflow: hidden;
  margin-right: 2px;
}

@media (min-width: 500px) {
  .forecast__map-icon {
    background-size: 150%;
    width: 30px;
    height: 30px;
    margin-right: 3px;
  }
}

@media (min-width: 600px) {
  .forecast__map-icon {
    background-size: 150%;
    width: 33px;
    height: 33px;
  }
}

.warszawa {
  top: 46%;
  left: 70%;
}

.lodz {
  top: 54%;
  left: 54%;
}

.bialystok {
  top: 31%;
  left: 90%;
}

.bydgoszcz {
  top: 30%;
  left: 40%;
}

.gdansk {
  top: 9%;
  left: 46%;
}

.szczecin {
  top: 25%;
  left: 8%;
}

.poznan {
  top: 44%;
  left: 28%;
}

.wroclaw {
  top: 64%;
  left: 28%;
}

.krakow {
  top: 81%;
  left: 60%;
}

.lublin {
  top: 62%;
  left: 85%;
}

.footer {
  width: 90vw;
  max-width: 800px;
  margin: 50px auto 20px auto;
  text-align: center;
  font-size: 0.7rem;
}
/*# sourceMappingURL=style.css.map */